*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Serif', sans-serif;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #C8ECE3;
}

.container {
    margin-top: 50px;
    padding: 60px 20px;
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.title {
    font-size: 30px;
    color: white;
    background-color: #135B60;
    width: 600px;
    text-align: center; 
    padding: 10px; 
    margin: 0 auto; 
    margin-bottom: 70px;
}


.navbar {
    background-color: #83C0C0;
    border-bottom: 1px solid black;
    font-size: 18px;
    color: black;
}

.logo{
    background-color: #83C0C0;
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.logo h1{
    font-family: Jacques Francois Shadow;
    font-size: 50px;
    margin: 0 auto;
}

.navbar a {
    text-decoration: none;
    color: black;
}

#logowanie{
    background-color: #83C0C0;
}

#logowanie > a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

#logowanie > a:hover {
    color: black;
}

#rejestracja{
    background-color: #83C0C0;
    border: 1px solid white;
}

#rejestracja > a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

#rejestracja > a:hover {
    color: white;
}

.navbar ul {
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 60px;
    font-size: 28px;
}

.nav li a{
    text-decoration: none;
}
.navbar ul li a:hover {
    color: white;
    font-size: 28px;
}
.hidden {
    display: none;
}

#hidden {
    display: none;
}


th {
    background-color: #6b6e6e;
    color: white;
    padding: 10px;
    text-align: center;
}

tr {
    text-align: center;
}

a.kontakt{
    color: black;
}

