.container_form{

    .title {
        text-align: center;
        margin: 30px auto;
        font-size: 30px;
        color: white;
        background-color: #135B60;
        width: 400px;
        padding: 5px;
        margin-bottom: 20px;
    }

    label {
        margin-left: 20px;
        display: flex;
        
    }

    h3 {
        margin: 60px 40px 60px 40px;
        font-size: 18px;
        color: black;
        text-align: center;
    }

    .inne_dochody ul li {
        list-style-type: none;
        margin: 10px 0;
    }

    #uwaga {
        color: red;
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
        display: block;
        margin: 20px auto 0px;
    }

    #uwaga a {
        margin-left: 20px;
    }


    .subtitle {
        font-weight: bold;
        font-size: 18px;
        text-decoration: underline;
        display: block;
        margin: 20px auto;
    }

    button {
        font-size: 16px;
        display: block;
        margin: 40px auto 0px;
        padding: 10px 20px;
        background-color: #135B60;
        color: white;
        border: none;
        cursor: pointer;
    }

    .minimalna {
        color: red;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        margin: 0px 40px;
    }

    #minimalna_sr {
        margin-left: 30px;
    }

    .input_srednia{
        background-color: #C8ECE3;
        width: 200px;
        margin: 20px;
        padding: 7px;
    }

    .input_srednia input{
        width: 50px;
    }

    div{
        margin: 15px;
    }

    input[type="file"] {
        margin-top: 20px;
    }

    #stopien_niepelnosprawnosci , #symbol_niepelnosprawnosci , #okres_niepelnosprawnosci, #charakter_niepelnosprawnosci {
        width: 90%;
        padding: 5px;
        background-color: #C8ECE3;
    }

    select {
        width: 20%;
        padding: 5px;
        background-color: #C8ECE3;
    }

    #cofnij {
        padding: 10px;
        background-color: #C8ECE3;
        border-radius: 60px;
        color: black;
        position: absolute;
        top: 10px;
        left: 30px;
        width: 150px;
        font-size: 16px;
    }

    #cofnij a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    div.hidden {
        display: none;
    }
    #familyMembersTable{
        display: flex;
        width: 20px;
    }
    #hidden {
        display: none;
    }

    #tab_gospodarstwo p{
        display: flex;
        margin-left: 20px;
    }
    #tab_gospodarstwo p input{
        margin-left: 20px;
        width: 200px;
    }
    #tab_gospodarstwo {
        padding: 10px;
        background-color: bisque;
    }
    div.czlonek-form div, div.czlonek-form p{
        display: flex;
        margin: 10px;
    } 
}