*{
    text-decoration: none;
}
a {
    color: white;
}
a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
body {
    position: relative;
}
.container_panel_rektora {
    .title {
        text-align: center;
        margin: 30px auto;
        font-size: 30px;
        color: white;
        background-color: #051a1b;
        width: 400px;
        padding: 5px;
        margin-bottom: 20px;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        margin-bottom: 20px;
    }

    .base {
        padding: 10px;
        border: none;
        background-color: #135B60;
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        position: relative;
    }

    .wnioski-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #559ba0;
        padding: 10px;
        border-radius: 5px;
        width: 33%;
    }

    .wnioski-list a {
        color: white;
        text-decoration: none;
    }

    button:hover, .wnioski-list a:hover {
        background-color: #679fa3;
        color: black;
    }
    .statystyki {
        position: absolute;
        right:20px;
        bottom: 20px;
        padding: 5px 30px;
        width: 200px;
    }
    .aktualnosci {
        position: absolute;
        width: 200px;
        right: 20px;
        bottom: 80px;
        padding: 5px 30px;
    }
    table td {
        padding: 5px;
    }
}
.moje_formularze {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}
.wyniki {
    position: absolute;
    width: 200px;
    right: 300px;
    bottom: 300px;
    padding: 5px 30px;
    background-color: #135B60;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    font-size: large;
    }
.wyniki:hover {
    background-color: #679fa3;
    color: black;
}

table td {
    padding: 5px;
}


