<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wykaz dokumentów - socjalne</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="form_socjalne.css">
</head>
<body>
    <div class="container">
        <div class="title">Wykaz dokumentów do stypendium socjalnego </div> 
        <span class="subtitle">Do wniosku o przyznanie stypendium socjalnego należy załączyć obowiązkowo:</span>
        Zaświadczenie wydane przez właściwego
        naczelnika urzędu skarbowego o wysokości dochodów (lub ich braku) uzyskanych
        przez studenta oraz pełnoletnich członków jego rodziny w 2022 roku
        opodatkowanych podatkiem dochodowym od osób fizycznych na zasadach
        ogólnych.

        Dodatkowo od sytuacji dochodowej student i jego rodziny:
        <ul>
            <li>
                Zaświadczenie wydane przez właściwego naczelnika
                urzędu skarbowego, dotyczące studenta oraz członków jego rodziny
                rozliczających się na podstawie przepisów o zryczałtowanym podatku
                dochodowym od niektórych przychodów osiąganych przez osoby fizyczne - gdy
                uzyskanie ww. dochodu nastąpiło w roku 2022
            </li>
            <li>
                Oświadczenie o deklarowanym dochodzie netto (po odliczeniu
                należnych składek i podatku) za miesiąc następujący po miesiącu, w którym został
                osiągnięty dochód przez osoby podlegające przepisom o zryczałtowanym podatku
                dochodowym od niektórych przychodów osiąganych przez osoby fizyczne – gdy
                uzyskanie ww. dochodu nastąpiło w roku 2023
            </li>
            <li>
                oświadczenie o braku dochodu podlegającego rozliczeniu w urzędzie
                skarbowym – w sytuacji, kiedy student lub członek rodziny uwzględniony we
                wniosku nie złożył zeznania podatkowego za rok 2023,
            </li>
            <li>
                zaświadczenie z ZUS lub KRUS lub Zakładu Emerytalno – Rentowego MSWiA lub
                wojskowego biura emerytalnego lub biura emerytalnego służby więziennej
                o wysokości składki na ubezpieczenie zdrowotne członków rodziny studenta –
                jeżeli w roku 2022 dochód występował
            </li>
            <li>
                zaświadczenia i dokumenty potwierdzające wysokość uzyskanego w roku 2022
                dochodu niepodlegającego opodatkowaniu
            </li>
            <li>zaświadczenie o wysokości dochodów studenta lub członka jego rodziny
                w przypadku, jeśli osiągał on dochody poza granicami Rzeczypospolitej Polskiej
                w roku 2022 lub 2023
                </li>
            <li>zaświadczenia o pobieraniu nauki przez pełnoletnie dzieci (do 26. roku życia)
                i pełnoletnie rodzeństwo studenta (do 26. roku życia), z uwzględnieniem
                planowanego terminu ukończenia nauki</li>
            <li>orzeczenie o niepełnosprawności lub stopniu niepełnosprawności członków
                rodziny studenta powyżej 18 roku życia, o ile nie uczą się i pozostają na
                utrzymaniu studenta lub rodziny studenta;</li>
            <li>kopia nakazu płatniczego (oryginał do wglądu) lub zaświadczenie właściwego
                organu gminy o wielkości gospodarstwa rolnego wyrażonej w hektarach
                przeliczeniowych ogólnej powierzchni w roku kalendarzowym 2023 – dotyczy
                osób, w których posiadaniu znajduje się gospodarstwo rolne</li>
            <li>zaświadczenie z urzędu pracy o zarejestrowaniu jako osoba bezrobotna wraz
                z informacją o wysokości pobieranego zasiłku lub stypendium – w przypadku, gdy
                student lub członek jego rodziny jest zarejestrowany w Urzędzie Pracy</li>
            <li>w przypadku otrzymywania lub płacenia alimentów:
                <ul>
                    <li>zaświadczenie o wysokości zasądzonych alimentów</li>
                    <li>kopia odpisu wyroku sądu zasądzającego alimenty na rzecz osób w rodzinie
                        lub spoza rodziny, albo kopia odpisu protokołu posiedzenia zawierającego treść ugody sądowej lub kopia odpisu zatwierdzonej przez sąd ugody zawartej
                        przed mediatorem,</li>
                    <li>
                        przekazy lub przelewy pieniężne dokumentujące faktyczną wysokość
                        zapłaconych alimentów, jeżeli członkowie rodziny są zobowiązani wyrokiem
                        sądu, ugoda sądowa lub ugoda zawarta przed mediatorem do ich płacenia na
                        rzecz osoby spoza rodziny studenta – w przypadku, gdy osoba uprawniona
                        nie otrzymała alimentów albo otrzymała je w wysokości niższej od ustalonej
                        wyrokiem sądu, ustalonej na podstawie ugody sądowej lub ugody zawartej
                        przed mediatorem
                    </li>
                    <li>zaświadczenie organu prowadzącego postępowanie egzekucyjne o całkowitej
                        lub częściowej bezskuteczności egzekucji alimentów, a także o wysokości
                        wyegzekwowanych alimentów</li>
                </ul>
            </li>
        </ul>

    </div>
</body>
</html>