<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="logowanie.css">
</head>
<body>
    
    <div class="container">
        <div class="title"> Logowanie</div>   
        <form action="#">
            <div class="grid-container">
                <div class="grid-item">
                    <div class="input-box">
                        <span class="details">Login</span> <br>
                        <input type="text"  required>
                    </div>
                    <div class="input-box">
                        <span class="details">Hasło</span><br>
                        <input type="password"  required>
                    </div>
                </div>
            </div>
                    
        <button >ZALOGUJ</button>    
        </form>
        
    </div>
</body>

</html>