*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Serif', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #C8ECE3;
}

.container {
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.caption_table{
    caption-side: top;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    color: white;
    background-color: #135B60;
    width: 200px;
    padding: 5px;
    margin: 0 auto 20px auto;

}

table {
    width: 70%;
}

tbody {
    background-color: #D9D9D9;
}

.btn {
    background-color: #135B60;
    margin: 0 auto 60px auto;
    width: 400px;
    font-size: 25px;
}


.socjalne thead tr th {
    color: black;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

td {
    text-align: center;
    border-bottom: 1px solid black;
}

