<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyniki</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="wyniki.css">
</head>
<body>
    
    <div class="container">
        <div class="title"> Wyniki</div> 
        <div class="label"  >
            <div class="rodzaj_formularza">FORMULARZ: <span id="rodzaj_formularza"> brak wysłanego wniosku</span></div>
        </div>
        <div class="decyzja">DECYZJA: <span id="decyzja">-----</span></div>
       
                    
        <button class="zobacz_ranking"><a href="ranking.html">ZOBACZ RANKING</a></button> 
        
    </div>
</body>

</html>